h1 {

    width: 100%;
    text-align: center;
}

.content {
    position: absolute;
    top: 8em;
    bottom: 4em;
    left: 1em;
    right: 1em;
    overflow: auto;
    margin-left: 3em;
    margin-right: 3em;
}

.content .description {
    position: relative;
    width: 100%;
    margin-top: 3em;
    font-size: 14pt;
}

.content .but {
    position: relative;
    margin-top: 5em;
    width: 100%;
    font-size: 14pt;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2em;
}

.footer .identity {
    float: left;
    margin-left: 3em;
}

.footer .university {
    float: right;
    margin-right: 3em;
}

