<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DiagramElements.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>ProjectFV.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>Shapes.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>VpProject.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1673BDEF1AF5502600C8F9AE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1673BE041AF5502600C8F9AE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1673BE191AF5504800C8F9AE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1673BE231AF5504800C8F9AE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1673BE4A1AF550B500C8F9AE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1673BE541AF550B500C8F9AE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>16EE9FF71B06A77900A872D4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>16EEA0011B06A77900A872D4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
