<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DiagramElements.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>ProjectFV.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>Shapes.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>VpProject.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>VppParser.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>165DFFBD1AEF0A7A003B8B44</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>165DFFCD1AEF0A7A003B8B44</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>167D92711AF44E7B00658E19</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>167D927B1AF44E7B00658E19</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>167D929A1AF450C600658E19</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>167D92A41AF450C600658E19</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>167D92C01AF455BE00658E19</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>167D92CA1AF455BE00658E19</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1697DC651AFEDE910089E609</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1697DC6F1AFEDE910089E609</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
